@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

.favContainer {
  display:flex;
  flex-direction:column;
}

.fav {
  display:flex
}

.card{
  border-radius: 35px;
}
.card-header{
  border-radius: 35px;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.gameCard{
  display:flex;
}

.actor{
  background-color: green;
}
.movie{
  background-color:red;
}
