@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

.favContainer {
  display:flex;
  flex-direction:column;
}

.fav {
  display:flex
}

.card{
  border-radius: 35px;
}
.card-header{
  border-radius: 35px;
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}

.gameCard{
  display:flex;
  border: black solid 5px;
  border-radius: 25px;
}

.actor{
  background-color: green;
  border-radius: 25px;
  padding: 0 5px;
}
.movie{
  background-color:red;
  border-radius: 25px;
  padding: 0 5px;
}

.name{
  padding-left: 5px;
}

#card0 {
  border-color: pink;
}
